/* navigation bar */
.nav {
  padding: 20px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #f7f7f7;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #f7f7f7;
  bottom: 0;
  left: 0;
  right: 0;
}

nav > div {
  color: #cf9707;
  text-shadow: 0 0.3px 0 rgba(155, 99, 4, 0.892);
  /* -webkit-font-smoothing: antialiased; */
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.25px;
  min-width: 33%;
}
.page-content {
  margin: 60px 0;
  height: 100vh;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: rgb(11, 10, 10);
  text-shadow: none;
}
.text-disabled {
  color: #b1aeae;
}
