*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  font-family: sans-serif;
}
.card {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-content {
 padding: 1rem; 
}
.card-image {
  padding: 8px
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  cursor: pointer;
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons button {
  font-size: 42px;
  vertical-align: middle;
}

#nope {
  background: hsl(66, 52%, 48%);
}

#restart {
  background: hsl(141, 71%, 48%);
}

#love {
  background: hsl(348, 100%, 61%);
}
